h1 {
	text-align: center;
}

.faqs {
	padding-top: 22%;
}

.question-arrow.rotate {
    transform: rotate(-180deg);
    transition: .5s;
}

.question-arrow.rotate-reset {
    transform: rotate(0deg);
    transition: .5s;
}

a {
	text-decoration: none;
	color: black;
}

.panel-body{
    padding:10px;
}

.faqs {
    background-color: cornsilk;
    height: 100vh;
}
