
.faqs {
	padding-top: 25%;
}

.question-arrow.rotate {
    transform: rotate(-180deg);
    transition: .5s;
}

.question-arrow.rotate-reset {
    transform: rotate(0deg);
    transition: .5s;
}

a {
	text-decoration: none;
	color: black;
}

.panel-body{
    padding:10px;
}
