<body>
  <section class="faqs" id="faq">
    <h1>Fire Safety Tips</h1> 
    <div class="col-lg-10 offset-lg-1 col-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                How can I make a Fire Escape plan?<i
                  class="fa fa-angle-down rotate-reset float-right question-arrow text-align-center"></i></a>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              Here are the easy steps to follow to make a home escape plan: <br> <br>
              1. Draw a floor plan or a map of your home. Show all doors and windows. <br>
              2. Mark two ways out of each room. <br>
              3. Mark all of the smoke alarms with SA . Smoke alarms should be in each
              sleeping room, outside each sleeping area, and on every level of the home. <br>
              4. Pick a family meeting place outside where everyone can meet. <br>
              5. Remember, practice your plan at least twice a year! <br>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                What do I do in the event of a fire?<i
                  class="fa fa-angle-down rotate-reset float-right question-arrow text-align-center"></i></a>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              If at home, follow your home escape plan. Otherwise, evacuate the building through the designated
              emergency exit.
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Who do I call in an event of a fire? <i
                  class="fa fa-angle-down rotate-reset float-right question-arrow text-align-center"></i></a>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              If there is a fire, call 9-1-1. You can call 9-1-1 from a cell phone, pay phone, landline or home phone to
              notify the Regina Fire Department of the fire.
            </div>
          </div>
          <hr>
        </div>
      </div>



      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                How often should i test my smoke alarm?<i
                  class="fa fa-angle-down rotate-reset float-right question-arrow text-align-center"></i></a>
            </div>
          </div>
          <div id="collapse4" class="panel-collapse collapse in">
            <div class="panel-body">
              Test your smoke alarm monthly.
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

  </section>
</body>