<!-- 
  <title> Fire Safety Tips</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="tips.css">
</head> -->

<!-- <body>
  <section>
    <article>
      <div class="dropdown">
        <a class="questions"> How can I make a fire Escape plan? </a>
        <button onclick="myFunction()" class="dropbtn">
          <i class="fas fa-chevron-down" style="font-size:46px;"></i>
        </button>
        <div class="dropdown-content">
          <p> Here are the easy steps to follow to make a home escape plan: </p>
          <ul style="list-style-type:disc;">

            <li> Draw a floor plan or a map of your home. Show all doors and windows. </li>
            <li> Mark two ways out of each room.</li>
            <li> Mark all of the smoke alarms with SA . Smoke alarms should be in each
              sleeping room, outside each sleeping area, and on every level of the home.</li>
            <li> Pick a family meeting place outside where everyone can meet.</li>
            <li> Remember, practice your plan at least twice a year!</li>
          </ul>
        </div>
      </div>
    </article>
  </section>

  <article>
    <div class="dropdown">
      <a class="questions"> What do I do in an event of a fire? </a>
      <button class="dropbtn">
        <i class="fas fa-chevron-down" style="font-size:46px;"></i>
      </button>
      <div class="dropdown-content">
        <p> If at home, follow your home escape plan. Otherwise, evacuate the building through the designated. </p>
      </div>
    </div>
  </article>

  <article>
    <div class="dropdown">
      <a class="questions"> Who do I call in an event of a fire? </a>
      <button class="dropbtn">
        <i class="fas fa-chevron-down" style="font-size:46px;"></i>
      </button>
      <div class="dropdown-content">
        <p> If there is a fire, call 9-1-1. You can call 9-1-1 from a cell phone, pay phone, landline or home phone to
          notify the
          Regina Fire Department of the fire.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="dropdown">
      <a class="questions"> How often should i test my smoke alarm? </a>
      <button class="dropbtn">
        <i class="fas fa-chevron-down" style="font-size:46px;"></i>
      </button>
      <div class="dropdown-content">
        <p> Test your smoke alarm monthly </p>
      </div>
    </div>
  </article>

  <script type="text/javascript">
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
</body> -->

<body>
  <section class="faqs" id="faq">
    <div class="col-lg-10 offset-lg-1 col-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                How can I make a Fire Escape plan?<i
                  class="fa fa-angle-down rotate-reset float-right question-arrow text-align-center"></i></a>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              Here are the easy steps to follow to make a home escape plan: <br> <br>
              1. Draw a floor plan or a map of your home. Show all doors and windows. <br>
              2. Mark two ways out of each room. <br>
              3. Mark all of the smoke alarms with SA . Smoke alarms should be in each
              sleeping room, outside each sleeping area, and on every level of the home. <br>
              4. Pick a family meeting place outside where everyone can meet. <br>
              5. Remember, practice your plan at least twice a year! <br>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <div class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                What do I do in the event of a fire?<i
                  class="fa fa-angle-down rotate-reset float-right question-arrow text-align-center"></i></a>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              If at home, follow your home escape plan. Otherwise, evacuate the building through the designated.
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>
</body>