/* .dropbtn {
	background-color: white;
	color: #000000;
	padding: 10px;
	border-width: 60px;
	border-style: hidden;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
 	background-color:#F8F8F8;
}
.dropdown {
	display: inline-block;
	text-align: center;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color:#F8F8F8;
	font-size: 20px;
	min-width: 650px;
	overflow:auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 10px;
	text-decoration: none;
	display: block;
}

a.questions{
font-size: 40px;
border-style: hidden;
}

.dropdown:hover .dropbtn{background-color: grey;}
.dropdown-content a:hover {background-color: #ddd;}

.show {display: block;} */

.faqs {
	padding-top: 25%;
}

.question-arrow.rotate {
    transform: rotate(-180deg);
    transition: .5s;
}

.question-arrow.rotate-reset {
    transform: rotate(0deg);
    transition: .5s;
}

a {
	text-decoration: none;
	color: black;
}

.panel-body{
    padding:10px;
}
