<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 offset-md-1 1col-8 offset-4">
        <button class="demoButton" [routerLink]="['/demo']">Demo</button>
      </div>
      <div class="col-md-3 offset-md-1 col-8 offset-2">
        <button class="tipsButton" [routerLink]="['/tips']">Fire Safety Tips</button>
      </div>
      <div class="col-md-3 offset-md-1 col-8 offset-4">
        <button class="phoneButton" [routerLink]="['/phone']">Phone</button>
      </div>
    </div>
  </div>
</div>