<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-4">
        <input class="phoneInput" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" disabled>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button (click)="buttonClicked(1)">1</button>
        <button (click)="buttonClicked(2)">2</button>
        <button (click)="buttonClicked(3)">3</button>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button (click)="buttonClicked(4)">4</button>
        <button (click)="buttonClicked(5)">5</button>
        <button (click)="buttonClicked(6)">6</button>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button (click)="buttonClicked(7)">7</button>
        <button (click)="buttonClicked(8)">8</button>
        <button (click)="buttonClicked(9)">9</button>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button>*</button>
        <button>0</button>
        <button>#</button>
      </div>
    </div>

    <div class="row">
      <div class="button-row offset-4">
        <button>End Call</button>
        <button (click)="makeCall()">Call</button>
        <button (click)="backSpace()">Delete</button>
      </div>
    </div>


  </div>




</body>