<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 offset-4">
        <input class="phoneInput" type="text" id="phoneNumber" name="phoneNumber">
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button>1</button>
        <button>2</button>
        <button>3</button>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button>4</button>
        <button>5</button>
        <button>6</button>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button>7</button>
        <button>8</button>
        <button>9</button>
      </div>
    </div>
    <div class="row">
      <div class="button-row offset-4">
        <button>*</button>
        <button>0</button>
        <button>#</button>
      </div>
    </div>

    <div class="row">
      <div class="button-row offset-4">
        <button>End Call</button>
        <button>Call</button>
        <button>Delete</button>
      </div>
    </div>


  </div>




</body>