body {
  padding-top: 35%;
  background-color: rgba(217, 217, 217, 0.801);
}

.phoneInput {
  height: 8vh;
  width: 58vw;
  margin-bottom: 10%;
  padding-left: 5%;
  border: 1px solid black;
}

.numberButton {
  background-color: rgb(177, 177, 177);
  border-radius: 50%;
  margin-right: 5%;
  margin-bottom: 5%;
  /* font-size: 1.25em; */
  padding: 10%;
  border: 1px solid black;
}

.makeCallButton {
  background-color: rgb(68, 187, 68);
  border-radius: 50%;
  margin-right: 19%;
  margin-bottom: 5%;
  font-size: 1.25em;
  padding: 10%;
  margin-left: 7%;
  border: 1px solid black;
}

.endCallButton {
  background-color: rgb(172, 66, 66);
  border-radius: 50%;
  margin-right: 12%;
  margin-bottom: 5%;
  font-size: 1.25em;
  padding: 10%;
  margin-left: 7%;
  border: 1px solid black;
}

.backspaceButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 1.25em;
  padding: 5%;
}

.timer {
  text-align: center;
}

