
<br /><br /><br /><br /><br /><br /><br /><br />

<div class = "Videos">

  <h2>Fire Safety Education Video</h2>
  <br />

  <iframe width="560" height="315" src="https://www.youtube.com/embed/WiIGMWRKfQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <br /><br /><br /><br /><br /><br /><br /><br />
  
  <h2>Learn Fire Safety with Elephant Firefighter</h2>
  <br />
  
  <iframe width="560" height="315" src="https://www.youtube.com/embed/c_YJ8ToEcTQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <br /><br /><br /><br /><br /><br /><br /><br />
  
  <h2>Fire Safety: What Every Child Should Know</h2>
  <br />
  <iframe width="560" height="315" src="https://www.youtube.com/embed/wArHgm3Dupc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br /><br /><br /><br /><br /><br /><br /><br />
    
  <h2>Kids Learn About Safety Lessons</h2>
  <br />
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RTfsaHULc48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <br /><br /><br /><br /><br /><br /><br /><br />
  
  <h2>Five Important Fire Safety Tips for Kid!</h2>
  <br />
  <iframe width="560" height="315" src="https://www.youtube.com/embed/IzmAVsO3iO8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <br /><br /><br /><br /><br /><br /><br /><br />
  
    </div>
	
	