h2{
    font-family: "Times New Roman", Times, serif;
        font-size: 45px;
        text-align: center;
    }
    
iframe{
    width: 70%;
    display: block;
    margin: 0 auto;
}

body {
    padding-top: 7%;
    background-color: rgba(217, 217, 217, 0.801);
  }
  
 
  .phoneInput {
    height: 8vh;
    width: 32vw;
    margin-bottom: 10%;
    padding-left: 5%;
    border: 1px solid black;
  }
  
  .numberButton {
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding: 5%;
    font-size: 1em;
    border: 1px solid black;
  }
  
  .makeCallButton {
    background-color: rgb(68, 187, 68);
    border-radius: 50%;
    margin-right: 19%;
    margin-bottom: 5%;
    font-size: 1.25em;
    padding: 5%;
    margin-left: 32%;
    border: 1px solid black;
  }
  
  .endCallButton {
    background-color: rgb(172, 66, 66);
    border-radius: 50%;
    margin-right: 12%;
    margin-bottom: 5%;
    font-size: 1.25em;
    padding: 5%;
    margin-left: 32%;
    border: 1px solid black;
  }
  
  .backspaceButton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 1.25em;
    padding: 5%;
  }
  
  .timer {
    text-align: center;
  }
  
  @media only screen and (max-width: 375px) {
    body {
      padding-top: 35%;
    }
  
    .phoneInput {
      height: 8vh;
      width: 58vw;
      margin-bottom: 10%;
      padding-left: 5%;
    }
  
    .numberButton {
      margin-right: 5%;
      margin-bottom: 5%;
      padding: 10%;
      border: 1px solid black;
      font-size: 1em;
    }
  
    .makeCallButton {
      margin-right: 19%;
      margin-bottom: 5%;
      font-size: 1.25em;
      padding: 10%;
      margin-left: 7%;
    }
  
    .endCallButton {
      margin-right: 12%;
      margin-bottom: 5%;
      font-size: 1.25em;
      padding: 10%;
      margin-left: 7%;
    }
  
    .backspaceButton {
      margin-right: 5%;
      margin-bottom: 5%;
      font-size: 1.25em;
      padding: 5%;
    }
  
    
  }
  
  